//fichier pour mettre à jour les variables de Bootstrap

// couleurs de base de Bootstrap
$primary: #A565CA;
$secondary: #0485f5;
// $danger: rgb(20, 220, 37);
// $warning: rgb(245, 220, 83);

// police
$font-family-base: "Roboto", sans-serif;

// utilisation pour les margin, padding, gap, ici modif et creation de nouvelles variables
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7.5,
  10: $spacer * 0.125,
);

// modifications breakpoints et creation de nouveaux breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 330px,
  md: 440px,
  lg: 660px,
  xl: 990px,
  xxl: 1220px,
  xxxl: 1440px,
);



